<header>
  <h1>LOGO</h1>

  <nav class="bg-teal-500">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="test/test.html">Test</a></li>
    </ul>
  </nav>
</header>